.PlayField__Card__card-face {
    background-color: #666;
    background: url(./__images__/card-back.png);
    background-size: cover;
    display: inline-block;
    width: 73px;
    height: 98px;
    margin: 8px;
}

/* Spades */

.PlayField__Card__card-face.SA {
    background-color: #777;
    background: url(./__images__/SA.png);
}

.PlayField__Card__card-face.S2 {
    background-color: #777;
    background: url(./__images__/S2.png);
}

.PlayField__Card__card-face.S3 {
    background-color: #777;
    background: url(./__images__/S3.png);
}

.PlayField__Card__card-face.S4 {
    background-color: #777;
    background: url(./__images__/S4.png);
}

.PlayField__Card__card-face.S5 {
    background-color: #777;
    background: url(./__images__/S5.png);
}

.PlayField__Card__card-face.S6 {
    background-color: #777;
    background: url(./__images__/S6.png);
}

.PlayField__Card__card-face.S7 {
    background-color: #777;
    background: url(./__images__/S7.png);
}

.PlayField__Card__card-face.S8 {
    background-color: #777;
    background: url(./__images__/S8.png);
}

.PlayField__Card__card-face.S9 {
    background-color: #777;
    background: url(./__images__/S9.png);
}

.PlayField__Card__card-face.S10 {
    background-color: #777;
    background: url(./__images__/S10.png);
}

.PlayField__Card__card-face.SJ {
    background-color: #777;
    background: url(./__images__/SJ.png);
}

.PlayField__Card__card-face.SQ {
    background-color: #777;
    background: url(./__images__/SQ.png);
}

.PlayField__Card__card-face.SK {
    background-color: #777;
    background: url(./__images__/SK.png);
}

/* Hearts */

.PlayField__Card__card-face.HA {
    background-color: #777;
    background: url(./__images__/HA.png);
}

.PlayField__Card__card-face.H2 {
    background-color: #777;
    background: url(./__images__/H2.png);
}

.PlayField__Card__card-face.H3 {
    background-color: #777;
    background: url(./__images__/H3.png);
}

.PlayField__Card__card-face.H4 {
    background-color: #777;
    background: url(./__images__/H4.png);
}

.PlayField__Card__card-face.H5 {
    background-color: #777;
    background: url(./__images__/H5.png);
}

.PlayField__Card__card-face.H6 {
    background-color: #777;
    background: url(./__images__/H6.png);
}

.PlayField__Card__card-face.H7 {
    background-color: #777;
    background: url(./__images__/H7.png);
}

.PlayField__Card__card-face.H8 {
    background-color: #777;
    background: url(./__images__/H8.png);
}

.PlayField__Card__card-face.H9 {
    background-color: #777;
    background: url(./__images__/H9.png);
}

.PlayField__Card__card-face.H10 {
    background-color: #777;
    background: url(./__images__/H10.png);
}

.PlayField__Card__card-face.HJ {
    background-color: #777;
    background: url(./__images__/HJ.png);
}

.PlayField__Card__card-face.HQ {
    background-color: #777;
    background: url(./__images__/HQ.png);
}

.PlayField__Card__card-face.HK {
    background-color: #777;
    background: url(./__images__/HK.png);
}

/* Diamonds */

.PlayField__Card__card-face.DA {
    background-color: #777;
    background: url(./__images__/DA.png);
}

.PlayField__Card__card-face.D2 {
    background-color: #777;
    background: url(./__images__/D2.png);
}

.PlayField__Card__card-face.D3 {
    background-color: #777;
    background: url(./__images__/D3.png);
}

.PlayField__Card__card-face.D4 {
    background-color: #777;
    background: url(./__images__/D4.png);
}

.PlayField__Card__card-face.D5 {
    background-color: #777;
    background: url(./__images__/D5.png);
}

.PlayField__Card__card-face.D6 {
    background-color: #777;
    background: url(./__images__/D6.png);
}

.PlayField__Card__card-face.D7 {
    background-color: #777;
    background: url(./__images__/D7.png);
}

.PlayField__Card__card-face.D8 {
    background-color: #777;
    background: url(./__images__/D8.png);
}

.PlayField__Card__card-face.D9 {
    background-color: #777;
    background: url(./__images__/D9.png);
}

.PlayField__Card__card-face.D10 {
    background-color: #777;
    background: url(./__images__/D10.png);
}

.PlayField__Card__card-face.DJ {
    background-color: #777;
    background: url(./__images__/DJ.png);
}

.PlayField__Card__card-face.DQ {
    background-color: #777;
    background: url(./__images__/DQ.png);
}

.PlayField__Card__card-face.DK {
    background-color: #777;
    background: url(./__images__/DK.png);
}

/* Clubs */

.PlayField__Card__card-face.CA {
    background-color: #777;
    background: url(./__images__/CA.png);
}

.PlayField__Card__card-face.C2 {
    background-color: #777;
    background: url(./__images__/C2.png);
}

.PlayField__Card__card-face.C3 {
    background-color: #777;
    background: url(./__images__/C3.png);
}

.PlayField__Card__card-face.C4 {
    background-color: #777;
    background: url(./__images__/C4.png);
}

.PlayField__Card__card-face.C5 {
    background-color: #777;
    background: url(./__images__/C5.png);
}

.PlayField__Card__card-face.C6 {
    background-color: #777;
    background: url(./__images__/C6.png);
}

.PlayField__Card__card-face.C7 {
    background-color: #777;
    background: url(./__images__/C7.png);
}

.PlayField__Card__card-face.C8 {
    background-color: #777;
    background: url(./__images__/C8.png);
}

.PlayField__Card__card-face.C9 {
    background-color: #777;
    background: url(./__images__/C9.png);
}

.PlayField__Card__card-face.C10 {
    background-color: #777;
    background: url(./__images__/C10.png);
}

.PlayField__Card__card-face.CJ {
    background-color: #777;
    background: url(./__images__/CJ.png);
}

.PlayField__Card__card-face.CQ {
    background-color: #777;
    background: url(./__images__/CQ.png);
}

.PlayField__Card__card-face.CK {
    background-color: #777;
    background: url(./__images__/CK.png);
}