.PlayField_Hand {
  min-height: 125px;
  min-width: 100%;
}

.Playfield_Hand_status {
  bottom: 75px;
  color: red;
  font-family: "OldStamper", Arial, sans-serif;
  font-size: 2.5em;
  width: 94%;
  position: absolute;
}

.Playfield_Hand_statusText {
  margin: auto;
}
