.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  background: url('./__images__/logo.png');
  background-size: cover;
  height: 55px;
  width: 55px;
  display: inline-block;
  margin-bottom: -15px;
  margin-right: 7px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}